# python stuff
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# virtual environment
venv/

# secrets
*.env
*.secret

# datasets
/datasets/

# google cloud credentials
/server/core/service/email_service/oauth_client_id.json

.idea
/server/effortless_service_account_key.json
/server/app_store_connect_key.p8
